@import "../main/var";

.feedback{

	&__input,
	&__textarea{
		font: 14px/20px 'pt_sans', Arial, sans-serif;
		border: 1px solid fadeout(lighten(@c-blue, 10%), 70%);
		border-radius: 2px;
		box-sizing: border-box;
		width: 100%;
		padding: 6px 12px;
		margin-bottom: 10px;
	}

	&__textarea{
		height: 80px;
		resize: none;
	}

	&__button{
		border: none;
		background: @c-link;
		color: @c-white;
		text-transform: uppercase;
		cursor: pointer;
		font: 15px/32px 'pt_sans', Arial, sans-serif;
		font-weight: 600;
		padding: 0 15px;
		height: 32px;
		position: relative;

		&:before{
			content: "";
			width: 44px;
			height: 44px;
			display: block;
			border-radius: 50%;
			background: @c-link;
			position: absolute;
			z-index: 0;
			top: -6px;
			left: 50%;
			margin-left: -22px;
		}

		span{
			position: relative;
			z-index: 1;
		}
	}
}