@import "../main/var";

.pagination{
	&__list{
		padding-right: 20px;
		display: inline-block;
	}

	&__item{
		display: inline-block;
		padding-right: 15px;

		&_active{
			.pagination__link{
				color: @c-grey !important;
			}
		}
	}

	&__link{
		display: block;
		padding: 0 10px;
		text-decoration: none;
		color: @c-black;
		font-family: 'pf_beausans_prolight';
		font-size: 24px;

		&:hover{
			color: @c-link;
		}
	}

	&__yet{
		display: inline-block;
		line-height: 1.2;
		color: @c-black;
		border-bottom: 1px dashed @c-black;
		text-decoration: none;
	}
}