@import "../main/var";

.offer{
	padding-bottom: 70px;

	&__aside{
		float: right;
		width: 250px;
	}

	&__content{
		padding-right: 370px;
	}

	&__list{
		box-shadow: 1px 2px 10px rgba(0,0,0,0.25);
		margin-bottom: 15px;
	}

	&__image{
		position: relative;
		height: 310px;
		width: 100%;
		display: none;

		&_active{
			display: block !important;
		}

		img{
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			height: auto;
			width: auto;
			max-width: 610px;
			max-height: 310px;
		}
	}

	&__preview{
		position: relative;
		padding: 0 45px;

		&-item{
			padding: 5px;
			width: 120px;

			&_active .offer__link{
				box-shadow: 0 1px 4px rgba(0,0,0,0.25), 0 -3px 0 @c-red;
			}
		}
	}

	&__link{
		display: block;
		height: 90px;
		position: relative;
		box-shadow: 0 1px 4px rgba(0,0,0,0.25);

		img{
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			height: auto;
			width: auto;
			max-width: 120px;
			max-height: 90px;
		}
	}

	&__arrow{
		position: absolute;
		top: 0;
		bottom: 0;
		width: 40px;

		&:before{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			top: 0;
			margin: auto;
			width: 15px;
			height: 27px;
			background: url(../images/hit.png) no-repeat left top;
		}

		&_next{
			right: 0;

			&:before{
				background-position: right top;
			}

			&.offer__arrow_disabled:before{
				background-position: right bottom;
			}
		}

		&_prev{
			left: 0;

			&.offer__arrow_disabled:before{
				background-position: left bottom;
			}
		}

	}

	p{
		margin-bottom: 30px;
	}

	b, strong{
		font-weight: 600;
	}

	i, em{
		font-style: italic;
	}

	&-form{
		box-shadow: 0 3px 8px rgba(0,0,0,0.15);
		padding: 30px 0;
		margin-bottom: 30px;

		&__inner{
			width: 630px;
			padding-bottom: 20px;
		}

		&__row{
			margin-bottom: 20px;
		}

		&__cell{
			width: 305px;
			display: inline-block;
			vertical-align: top;

			& + &{
				margin-left: 20px;
			}
		}

		&__time{
			font-size: 15px;
			font-weight: 600;
		}

		&__phone{
			font-size: 21px;

			b{
				font-weight: 600;
			}
		}

		&__input,
		&__textarea{
			font: 14px/20px 'pt_sans', Arial, sans-serif;
			border: 1px solid fadeout(lighten(@c-blue, 10%), 70%);
			border-radius: 2px;
			box-sizing: border-box;
			width: 100%;
			padding: 6px 12px;
		}

		&__textarea{
			height: 80px;
			resize: none;
			display: block;
		}

		&__radio{
			display: none;

			&:checked + .offer-form__label:before{
				background: darken(@c-grey, 10%);
				box-shadow: inset 0 0 0 2px @c-white;
			}
		}

		&__label{
			padding-left: 25px;
			display: block;
			font-weight: 600;
			font-size: 15px;
			line-height: 20px;
			position: relative;
			margin-bottom: 25px;

			&:before{
				content: '';
				font-family: Arial;
				width: 10px;
				height: 10px;
				position: absolute;
				top: 2px;
				left: 0;
				border-radius: 7px;
				border: 2px solid @c-grey;
				border-right-color: lighten(@c-grey, 20%);
				border-bottom-color: lighten(@c-grey, 20%);
				background: @c-white;
			}
		}

		&__delivery{
			padding: 30px 0;
		}

		&__select{
			z-index: 1;
			position: relative;

			.customSelectArrow:before{
				content: "Время доставки";
				font-weight: 400;
				display: inline-block;
				margin-right: 5px;
			}
		}

		&__buy{
			border: none;
			background: @c-red;
			color: @c-white;
			text-transform: uppercase;
			cursor: pointer;
			font: 24px/42px 'pt_sans', Arial, sans-serif;
			font-weight: 600;
			padding: 0 20px;
			height: 42px;
			display: inline-block;
			text-decoration: none;
			position: relative;

			&:before{
				content: "";
				width: 56px;
				height: 56px;
				display: block;
				border-radius: 50%;
				background: @c-red;
				position: absolute;
				z-index: 0;
				top: -6px;
				left: 50%;
				margin-left: -28px;
			}

			span{
				position: relative;
				z-index: 1;
			}
		}
	}
}