{% set page = {
  "title": "Интернет-магазин Time66",
  "text": "<p>Однажды осенью матушка варила в гостиной медовое варенье а я, облизываясь, смотрел на кипучие пенки. Батюшка у окна читал Придворный Календарь, ежегодно им получаемый. Эта книга имела всегда сильное на него влияние: никогда не перечитывал он ее без особенного участия, и чтение это производило в нем всегда удивительное волнение желчи. Матушка, знавшая наизусть все его свычаи и обычаи, всегда старалась засунуть несчастную книгу как можно подалее, и таким образом Придворный Календарь не попадался ему на глаза иногда по целым месяцам. Зато, когда он случайно его находил, то бывало по целым часам не выпускал ужиз своих рук.</p>"
} %}

{% set menu = [
  {"href": "./catalog.html", "title":"Мужские" },
  {"href": "./catalog.html", "title":"Женские"},
  {"href": "./catalog.html", "title":"Интерьерные", "submenu": [
    {"href": "./catalog.html", title: "Настольные"},
    {"href": "./catalog.html", title: "Настенные"}
  ]},
  {"href": "./brand.html", "title":"Бренды"}
]%}

{% set carousel = [
  {"link": "./offer.html", "title":"24 модели в нашем каталоге", "image": "./images/banner.jpg" },
  {"link": "./offer.html", "title":"24 модели в нашем каталоге", "image": "./images/banner.jpg" }
]%}

{% set hit = [
  {"title": "ВСЕ", "carousel": [
    {"title": "Co182.03", "brand": "Cover", "link": "./product.html", "image": "./images/product1.jpg", "price": "24 690"},
    {"title": "GA-100BW-1A", "brand": "Casio", "link": "./product.html", "image": "./images/product2.jpg", "price": "9 790"},
    {"title": "K2G211.C1", "brand": "Calvin Klein", "link": "./product.html", "image": "./images/product3.jpg", "price": "12 590"},
    {"title": "Calvin Klein", "brand": "K4D231.G6", "link": "./product.html", "image": "./images/product4.jpg", "price": "12 590"},
    {"title": "Co182.03", "brand": "Cover", "link": "./product.html", "image": "./images/product1.jpg", "price": "24 690"}
  ]},
  {"title": "Мужские", "carousel": [
    {"title": "Co182.03", "brand": "Cover", "link": "./product.html", "image": "./images/product1.jpg", "price": "24 690"},
    {"title": "K2G211.C1", "brand": "Calvin Klein", "link": "./product.html", "image": "./images/product3.jpg", "price": "12 590"},
    {"title": "Calvin Klein", "brand": "K4D231.G6", "link": "./product.html", "image": "./images/product4.jpg", "price": "12 590"},
    {"title": "GA-100BW-1A", "brand": "Casio", "link": "./product.html", "image": "./images/product2.jpg", "price": "9 790"},
    {"title": "Co182.03", "brand": "Cover", "link": "./product.html", "image": "./images/product1.jpg", "price": "24 690"}
  ]},
  {"title": "Женские", "carousel": [
    {"title": "Co182.03", "brand": "Cover", "link": "./product.html", "image": "./images/product1.jpg", "price": "24 690"},
    {"title": "K2G211.C1", "brand": "Calvin Klein", "link": "./product.html", "image": "./images/product3.jpg", "price": "12 590"},
    {"title": "Calvin Klein", "brand": "K4D231.G6", "link": "./product.html", "image": "./images/product4.jpg", "price": "12 590"}
  ]},
  {"title": "Интерьерные", "carousel": [
    {"title": "Co182.03", "brand": "Cover", "link": "./product.html", "image": "./images/product1.jpg", "price": "24 690"},
    {"title": "K2G211.C1", "brand": "Calvin Klein", "link": "./product.html", "image": "./images/product3.jpg", "price": "12 590"},
    {"title": "Calvin Klein", "brand": "K4D231.G6", "link": "./product.html", "image": "./images/product4.jpg", "price": "12 590"},
    {"title": "GA-100BW-1A", "brand": "Casio", "link": "./product.html", "image": "./images/product2.jpg", "price": "9 790"}
  ]}
]%}

{% set section = [
  {"title": "Мужские<br>Часы", "link": "./sections.html", "image": "./images/section1.png"},
  {"title": "Женские<br>Часы", "link": "./sections.html", "image": "./images/section2.png"},
  {"title": "Настольные<br>Часы", "link": "./sections.html", "image": "./images/section3.png"},
  {"title": "Настенные<br>Часы", "link": "./sections.html", "image": "./images/section4.png"},
  {"title": "Напольные<br>Часы", "link": "./sections.html", "image": "./images/section5.png"}
]%}

{% set brands = [
  {"title": "brand1", "link": "./catalog-brand.html", "image": "./images/brand1.jpg", "country": "Япония", "count": "32 Модели"},
  {"title": "brand2", "link": "./catalog-brand.html", "image": "./images/brand2.jpg", "country": "Швейцария", "count": "47 Моделей"},
  {"title": "brand3", "link": "./catalog-brand.html", "image": "./images/brand3.jpg", "country": "Австрия", "count": "23 Модели"},
  {"title": "brand4", "link": "./catalog-brand.html", "image": "./images/brand4.jpg", "country": "Дания", "count": "15 Моделей"},
  {"title": "brand5", "link": "./catalog-brand.html", "image": "./images/brand5.jpg", "country": "Италия", "count": "32 Модели"},
  {"title": "brand6", "link": "./catalog-brand.html", "image": "./images/brand6.jpg", "country": "США", "count": "32 Модели"},
  {"title": "brand7", "link": "./catalog-brand.html", "image": "./images/brand7.jpg", "country": "Япония", "count": "32 Модели"},
  {"title": "brand8", "link": "./catalog-brand.html", "image": "./images/brand8.jpg", "country": "Япония", "count": "32 Модели"},
  {"title": "brand9", "link": "./catalog-brand.html", "image": "./images/brand9.jpg", "country": "Япония", "count": "32 Модели"},
  {"title": "brand10", "link": "./catalog-brand.html", "image": "./images/brand10.jpg", "country": "Япония", "count": "32 Модели"}
]%}

{% set letters = [
  {"link": "#", "title": "Все"},
  {"link": "#", "title": "A"},
  {"link": "#", "title": "C"},
  {"link": "#", "title": "E"},
  {"link": "#", "title": "F"},
  {"link": "#", "title": "G"},
  {"link": "#", "title": "K"},
  {"link": "#", "title": "L"},
  {"link": "#", "title": "P"},
  {"link": "#", "title": "S"},
  {"link": "#", "title": "T"},
  {"link": "#", "title": "V"},
  {"link": "#", "title": "Q"},
  {"link": "#", "title": "Z"}
]%}

{% set list = [
  {"link": "./catalog.html", "title": "Швейцарские часы"},
  {"link": "./catalog.html", "title": "Японские часы"},
  {"link": "./catalog.html", "title": "Fashion часы"},
  {"link": "./catalog.html", "title": "Made in Germany"},
  {"link": "./catalog.html", "title": "Российские часы"},
  {"link": "./catalog.html", "title": "Азиатские часы"},
  {"link": "./catalog.html", "title": "Смарт часы"},
  {"link": "./catalog.html", "title": "Золотые часы"},
  {"link": "./catalog.html", "title": "СПОРТИВНЫЕ ЧАСЫ"},
  {"link": "./catalog.html", "title": "Парные часы"},
  {"link": "./catalog.html", "title": "Скелетоны"},
  {"link": "./catalog.html", "title": "Спортивные часы"},
  {"link": "./catalog.html", "title": "Серебряные часы"},
  {"link": "./catalog.html", "title": "Мужские часы"},
  {"link": "./catalog.html", "title": "Женские часы"},
  {"link": "./catalog.html", "title": "Детские часы"},
  {"link": "./catalog.html", "title": "СПОРТИВНЫЕ ЧАСЫ"},
  {"link": "./catalog.html", "title": "Парные часы"},
  {"link": "./catalog.html", "title": "Скелетоны"},
  {"link": "./catalog.html", "title": "Спортивные часы"}
]%}

{% set offer = {
  "title": "Предновогодняя распродажа лучших моделей G-SHOCK!",
  "text": '<p>Casio G-Shock – легендарные часы, максимально защищенные от любых видов агрессивного воздействия. Особая конструкция часов предохраняет механизм от повреждений. Дисплей защищен прочным минеральным стеклом. Каучуковые прокладки между корпусом и всеми важными деталями обеспечивают часам отличную защиту от влаги (20 АТМ).</p><p>Еще одна особенность часов — геометрия корпуса. Как бы часы не падали, на кварцево-электронный механизм воздействие будет минимальным, покрытие поглотит силу удара. Каждые часы проходят серьезные стрессовые испытания. В продажу поступают только те модели, что выдержали сертифицированную проверку — падение с высоты 10 метров и погружение на аналогичную глубину.</p><p><iframe width="610" height="340" src="https://www.youtube.com/embed/I_x8cP8WTfQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></p><p>Casio G-Shock обладают массой функций. Кроме стандартного отображения времени и даты, в них есть мировое время, таймер, 5 мелодий будильника, автоматическая подсветка, календарь — в общей сложности 14 дополнительных функций. Часы отлично защищены от воздействия магнитных полей, что обеспечивает им непревзойденную точность.</p>',
  "images": [
    {"image": "./images/offer.jpg", "small": "./images/offer-small1.jpg"},
    {"image": "./images/offer.jpg", "small": "./images/offer-small2.jpg"},
    {"image": "./images/offer.jpg", "small": "./images/offer-small3.jpg"},
    {"image": "./images/offer.jpg", "small": "./images/offer-small4.jpg"},
    {"image": "./images/offer.jpg", "small": "./images/offer-small1.jpg"}
  ],
  "products": [
    {"title": "Co182.03", "brand": "Cover", "link": "./product.html", "image": "./images/product1.jpg", "price": "24 690"},
    {"title": "K2G211.C1", "brand": "Calvin Klein", "link": "./product.html", "image": "./images/product3.jpg", "price": "12 590"},
    {"title": "Calvin Klein", "brand": "K4D231.G6", "link": "./product.html", "image": "./images/product4.jpg", "price": "12 590"}
  ]
} %}

{% set viewed = [
  {"title": "Co182.03", "brand": "Cover", "link": "./product.html", "image": "./images/product1.jpg", "price": "24 690"},
  {"title": "GA-100BW-1A", "brand": "Casio", "link": "./product.html", "image": "./images/product2.jpg", "price": "9 790"},
  {"title": "K2G211.C1", "brand": "Calvin Klein", "link": "./product.html", "image": "./images/product3.jpg", "price": "12 590"},
  {"title": "Calvin Klein", "brand": "K4D231.G6", "link": "./product.html", "image": "./images/product4.jpg", "price": "12 590"},
  {"title": "Co182.03", "brand": "Cover", "link": "./product.html", "image": "./images/product1.jpg", "price": "24 690"}
]%}

{% set catalog = [
  {"title": "Co182.03", "brand": "Cover", "link": "./product.html", "image": "./images/product1.jpg", "price": "24 690"},
  {"title": "K2G211.C1", "brand": "Calvin Klein", "link": "./product.html", "image": "./images/product3.jpg", "price": "12 590"},
  {"title": "Calvin Klein", "brand": "K4D231.G6", "link": "./product.html", "image": "./images/product4.jpg", "price": "12 590"},
  {"title": "Co182.03", "brand": "Cover", "link": "./product.html", "image": "./images/product1.jpg", "price": "24 690"},
  {"title": "K2G211.C1", "brand": "Calvin Klein", "link": "./product.html", "image": "./images/product3.jpg", "price": "12 590"},
  {"title": "Calvin Klein", "brand": "K4D231.G6", "link": "./product.html", "image": "./images/product4.jpg", "price": "12 590"},
  {"title": "Co182.03", "brand": "Cover", "link": "./product.html", "image": "./images/product1.jpg", "price": "24 690"},
  {"title": "K2G211.C1", "brand": "Calvin Klein", "link": "./product.html", "image": "./images/product3.jpg", "price": "12 590"},
  {"title": "Calvin Klein", "brand": "K4D231.G6", "link": "./product.html", "image": "./images/product4.jpg", "price": "12 590"}
] %}

{% set tags = [
  { "title": "Фэшн"},
  { "title": "Спортивные"},
  { "title": "Деловые      "},
  { "title": "Электронные"},
  { "title": "Водонепроницаемые"},
  { "title": "Подарочные"},
  { "title": "Детские"}
] %}

{% set brandCard = {
  "title": "Appella",
  "text": "<p>Основанная в 1950 году японская компания Orient имеет более шести десятков лет опыта в часовом деле. Завоевав популярность, Orient в настоящее время производит свою продукцию миллионами экземпляров в год. Такой успех обусловлен тем, что при изготовлении научных часов, Orient ориентируется на потребности самых разных клиентов, чьи предпочтения могут оказаться диаметрально противоположными. Компания предлагает широчайший ассортимент моделей с различным дизайном и функциями, имеющих одну общую черту - отменное качество.</p>",
  "link": "www.appella.com",
  "image": "./images/brand1.jpg"
}%}

{% set basket = [
  {"title": "Co182.03", "brand": "Cover", "link": "./product.html", "image": "./images/product1.jpg", "price": 24690, "count": "1"},
  {"title": "K2G211.C1", "brand": "Calvin Klein", "link": "./product.html", "image": "./images/product3.jpg", "price": 12590, "count": "1"}
]%}

{% set feature = [
  {"title": "Тип часов", "value": "Кварцевые, мужские"},
  {"title": "Механизм", "value": "Электронный CASIO"},
  {"title": "Корпус", "value": "Высококачественный пластик"},
  {"title": "Браслет", "value": "Каучук"},
  {"title": "Стекло", "value": "Минеральное"},
  {"title": "Противоударные", "value": "Да"},
  {"title": "Водонепроницаемые", "value": "Есть, WR200 (20 атм)"},
  {"title": "Материал корпуса", "value": "Нерж. сталь + пластик"},
  {"title": "Материал браслета/ремешка", "value": "Какучук"},
  {"title": "Стекло", "value": "Минеральное"},
  {"title": "Габариты (ШхВхТ)", "value": "45.9x52.4x16.5 мм"},
  {"title": "Отображение даты", "value": "Число, день недели"},
  {"title": "Дополнительные функции", "value": "Отображение даты"},
  {"title": "Подсветка", "value": "Дисплея"}
]%}

{% set basketHeader = {
  "count": "2 Товара",
  "price": "47 245"
}%}

{% set cardImage = [
  {"big": "./images/big.jpg", "image": "./images/product1.jpg", "small": "./images/product1.jpg", "title": "Co182.03", "brand": "Cover"},
  {"big": "./images/big.jpg", "image": "./images/product2.jpg", "small": "./images/product2.jpg", "title": "Co182.03", "brand": "Cover"},
  {"big": "./images/big.jpg", "image": "./images/product3.jpg", "small": "./images/product3.jpg", "title": "Co182.03", "brand": "Cover"},
  {"big": "./images/big.jpg", "image": "./images/product3.jpg", "small": "./images/product3.jpg", "title": "Co182.03", "brand": "Cover"}
]%}

{% set reviews = [
  {"title": "Имя пользователя", "image": "./images/product1.jpg", "link": "http://ya.ru", "text": "Ты всегда была рядом, когда веб был суров ко мне. Ты придавала вещам ту последовательность и логичность, которой им недоставало, да так, что я порой и не замечал, что это — твоя заслуга. Веб был страшным местом, но ты внесла в него порядок. Ты вселила в меня уверенность.Ты была со мной и тогда, когда я не ведал, что делаю. Ты помогала мне достичь того, чего я никогда не достиг бы в одиночку. В каком-то смысле ты даже слишком облегчила мне жизнь, и я наделал такого, чего мне ни в коем случае делать не стоило: мне очень жаль, это лишь моя вина, не твоя.И, как бы банально это ни звучало, мне нравится, как ты выглядишь. Я узнаю твои черты повсюду. Я обожаю твои стройные и аппетитные замыкания, а эти твои цепочные методы — я не перестаю желать их снова и снова. Ты для меня поддержка и утешение. Ты всегда можешь заставить меня улыбнуться."},
  {"title": "Имя пользователя длинное. Очень длинное. Длинее уже некуда", "image": "./images/product2.jpg", "text": "Ты всегда была рядом, когда веб был суров ко мне. Ты придавала вещам ту последовательность и логичность."},
  {"title": "Имя пользователя", "link": "http://ya.ru", "text": "Ты всегда была рядом, когда веб был суров ко мне. Ты придавала вещам ту последовательность и логичность, которой им недоставало, да так, что я порой и не замечал, что это — твоя заслуга. Веб был страшным местом, но ты внесла в него порядок. Ты вселила в меня уверенность.Ты была со мной и тогда, когда я не ведал, что делаю. Ты помогала мне достичь того, чего я никогда не достиг бы в одиночку. В каком-то смысле ты даже слишком облегчила мне жизнь, и я наделал такого, чего мне ни в коем случае делать не стоило: мне очень жаль, это лишь моя вина, не твоя.И, как бы банально это ни звучало, мне нравится, как ты выглядишь. Я узнаю твои черты повсюду. Я обожаю твои стройные и аппетитные замыкания, а эти твои цепочные методы — я не перестаю желать их снова и снова. Ты для меня поддержка и утешение. Ты всегда можешь заставить меня улыбнуться."},
  {"title": "Имя пользователя", "image": "./images/product3.jpg", "link": "http://ya.ru", "text": "Ты всегда была рядом, когда веб был суров ко мне. Ты придавала вещам ту последовательность и логичность, которой им недоставало, да так, что я порой и не замечал, что это — твоя заслуга. Веб был страшным местом, но ты внесла в него порядок. Ты вселила в меня уверенность.Ты была со мной и тогда, когда я не ведал, что делаю. Ты помогала мне достичь того, чего я никогда не достиг бы в одиночку."},
  {"title": "Имя пользователя длинное. Очень длинное. Длинее уже некуда", "image": "./images/product4.jpg", "text": "Ты всегда была рядом, когда веб был суров ко мне. Ты придавала вещам ту последовательность и логичность.", "link": "http://ya.ru"},
  {"title": "Имя пользователя", "link": "http://ya.ru", "text": "Ты всегда была рядом, когда веб был суров ко мне. Ты придавала вещам ту последовательность и логичность, которой им недоставало, да так, что я порой и не замечал, что это — твоя заслуга. Веб был страшным местом, но ты внесла в него порядок. Ты вселила в меня уверенность.Ты была со мной и тогда, когда я не ведал, что делаю. Ты помогала мне достичь того, чего я никогда не достиг бы в одиночку. В каком-то смысле ты даже слишком облегчила мне жизнь, и я наделал такого, чего мне ни в коем случае делать не стоило: мне очень жаль, это лишь моя вина, не твоя.И, как бы банально это ни звучало, мне нравится, как ты выглядишь. Я узнаю твои черты повсюду. Я обожаю твои стройные и аппетитные замыкания, а эти твои цепочные методы — я не перестаю желать их снова и снова. Ты для меня поддержка и утешение. Ты всегда можешь заставить меня улыбнуться."}
]%}


<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
      <link rel="stylesheet" href="css/main.css" />
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
      <title>{% block title %}{% endblock %} - Time66</title>
      <meta charset='utf-8'>
      <meta http-equiv='X-UA-Compatible' content='IE=edge'>
      <meta name='description' content=''>
	  <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% endblock %}
</head>
<body class="page">
    <div class="page__inner">
      {% block header %}
        {% include 'header.html' %}
      {% endblock %}
      
      {% block content %}{% endblock %}
      <div class="page__container">
        <div class="page__seo">
          {% include 'seo.html' %}
        </div><div class="page__info">
          {% block info %}{% endblock %}
        </div>
      </div>
      <div class="page__footer"></div>
    </div>
    {% block footer %}
      {% include 'footer.html' %}
    {% endblock %}
    {% block fancybox %}
      <div class="fancybox">
        {% include 'fancybox.html' %}
      </div>
    {% endblock %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="ui/fancybox/fancybox.js"></script>
    <script src="ui/customCarousel/customCarousel.js"></script>
    <script src="ui/customSelect/jquery.mousewheel.js"></script>
    <script src="ui/customSelect/mwheelIntent.js"></script>
    <script src="ui/customSelect/jquery.jscrollpane.min.js"></script>
    <script src="ui/customSelect/jquery.customSelect.js"></script>
    {% block script %}{% endblock %}
    <script src='js/main.js'></script>
</body>
</html>