<div class="page__container">
	<div class="basket basket_page">
		<div class="basket__header">
			<h2 class="basket__title">Корзина покупок</h2>
		</div>
		<form action="#" method="get" class="basket__form">
			{% set total = 0 %}
			{% for item in basket -%}
				<div class="basket__item">
					<div class="basket__cell basket__cell_delete">
						<a href="#" class="basket__delete"></a>
					</div>
					<div class="basket__cell basket__cell_image">
						<div class="basket__image">
							<img class="basket__img" src="{{item.image}}" alt="{{item.brand}} {{item.title}}">
						</div>
					</div>
					<div class="basket__cell basket__cell_title">
						<a href="./product.html" class="basket__item-title">
							<span class="basket__brand">{{item.brand}}</span>{{item.title}}
						</a>
					</div>
					<div class="basket__cell basket__cell_count">
						<input type="text" class="basket__count" value="{{item.count or 1}}">
						шт.
					</div>
					<div class="basket__cell basket__cell_price">
						<div class="basket__price price">{{item.price}}</div>
					</div>
				</div>
				{% set total = total + item.price %}
			{%- endfor %}
			<div class="basket__bottom clearfix">
				<div class="basket__total price">{{ total }}</div>
				<button href="./basket.html" class="basket__button"><span>ОФОРМИТЬ ЗАКАЗ</span></button>
			</div>
		</form>
	</div>
</div>