<div class="page__container">
	<div>
		<a href="./index.html" class="page__link">Главная страница</a>
	</div>
	<div class="clearfix">
		<ul class="brand__filter">
			{% for letter in letters -%}
				<li class="brand__filter-item {% if loop.first %} brand__filter-item_active {% endif %}">
					<a href="{{letter.link}}" class="brand__filter-link">{{letter.title}}</a>
				</li>
			{%- endfor %}
		</ul>
		<h3>Все бренды</h3>
	</div>
</div>
<div class="brand">
	<div class="page__container">
		<ul class="brands__list">
			{% for item in brands -%}
				<li class="brands__item">
					<a href="{{item.link}}" class="brand__link">
						<span class="brand__image">
							<img src="{{item.image}}" class="brands__image" alt="{{item.title}}"/>
						</span>
						<span class="brand__title">{{item.title}}</span>
						<span class="brand__description">
							{{item.country}}
							<span class="brand__count">{{item.count}}</a>
						</span>
					</a>
				</li>
			{%- endfor %}
		</ul>
	</div>
</div>