<div class="brands">
	<div class="page__container">
		<ul class="brands__list">
			{% for item in brands -%}
				<li class="brands__item">
					<a href="{{item.link}}" class="brands__link">
						<img src="{{item.image}}" class="brands__image" alt="{{item.title}}"/>
					</a>
				</li>
			{%- endfor %}
		</ul>
	</div>
	<div class="brands__all">
		<div class="page__container">
			<a href="./brand.html">Все производители</a>
		</div>
	</div>
</div>