<div class="page__container">
	<div>
		<a href="./sections.html" class="page__link">Мужские часы</a>
	</div>
	<div class="card__top clearfix">
		<form action="#" method="get" class="search search_catalog">
			<input type="text" class="search__input" placeholder="Поиск по каталогу" />
			<button type="submit" class="search__button"></button>
		</form>
		<div class="card__head">
			<h2 class="card__title">{{offer.products[0].brand}} {{offer.products[0].title}}</h2>
		</div>
	</div>
	<div class="clearfix">
		<div class="card__aside">
			<div class="card__basket">
				<div class="card__price price">{{offer.products[0].price}}</div>
				<div class="clearfix">
					<div class="card__sale">- 20%</div>
					<a href="#" class="card__add">Купить</a>
				</div>
			</div>
			<div class="card__delivery">
				{% include 'delivery.html' %}
			</div>
		</div>
		<div class="card__image">
			<div class="card__big">
				{% for image in cardImage %}
					<a href="{{image.big}}" class="card__image-link {% if loop.first %} card__image-link_active {% endif %}">
						<img src="{{image.image}}" alt="{{image.brand}} {{image.title}}" class="card__image-img">
					</a>
					{% set countImage = loop.index %}
				{% endfor %}
			</div>
			<div class="card__preview">
				<a href="#" class="card__preview-arrow card__preview-arrow_prev"></a>
				<a href="#" class="card__preview-arrow card__preview-arrow_next"></a>
				<ul class="card__preview-list">
					{% for image in cardImage %}
						<li class="card__preview-item {% if loop.first %} card__preview-item_active {% endif %}">
							<a href="#" class="card__preview-link">
								<img src="{{image.small}}" alt="{{image.brand}} {{image.title}}" class="card__preview-image">
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="card__content">
			<div class="card__text">
				<p>Яркие мужские спортивные часы от Louis Vuitton<br>Модель GLS-8900LV-2E произведена из нержавеющей стали и высококачественного пластика черного цвета, а удобный ремешок сделан из каучука.  Дисплей часов надежно защищен минеральным стеклом. Конструкция часов позволяет находиться с ними под водой на глубине до 200 метров.</p>
			</div>
			<table class="card__feature-table">
				{% for item in feature %}
					{% if loop.index <= 5 %}
						<tr class="{% if loop.index % 2 %} card__feature_even {% else %} card__feature_odd {% endif %}">
							<td>{{item.title}}</td>
							<td>{{item.value}}</td>
						</tr>
					{% endif %}
				{% endfor %}
			</table>
			<a href="#" class="card__feature-all">Все характеристики</a>
		</div>
	</div>
</div>