<div class="carousel">
	<a href="#" class="carousel__arrow carousel__arrow_prev"></a>
	<a href="#" class="carousel__arrow carousel__arrow_next"></a>
	<ul class="carousel__list">
		{% for item in carousel %}
			<li class="carousel__item">
				<a href="{{item.link}}" class="carousel__link" target="_blank">
					<img src="{{item.image}}" alt="{{item.title}}" class="carousel__image" />
				</a>
			</li>
		{% endfor %}
	</ul>
</div>