<div class="catalog-brand__wrapper page__container">
	<div>
		<a href="./brand.html" class="page__link">Все бренды</a>
	</div>
	<div class="catalog__top clearfix">
		<form action="#" method="get" class="search search_catalog">
			<input type="text" class="search__input" placeholder="Поиск по каталогу" />
			<button type="submit" class="search__button"></button>
		</form>
		<div class="catalog__head">
			<h2 class="catalog-brand__title">{{brandCard.title}}</h2>
		</div>
	</div>
	<div class="clearfix">
		<div class="catalog__aside">
			{% include 'filter.html' %}
		</div>
		<div class="catalog__content">
			<div class="catalog-brand">
				<div class="catalog-brand__inner">
					<div class="catalog-brand__aside">
						<div class="catalog-brand__image">
							<img src="{{brandCard.image}}" class="catalog-brand__img" />
						</div>
						<div>
							<a href="http://{{brandCard.link}}" class="catalog-brand__link">{{brandCard.link}}</a>
						</div>
					</div>
					<div class="catalog-brand__content">{{brandCard.text}}</div>
				</div>
				<div class="catalog-brand__sort">
					<a class="catalog__sort" href="#">
						<span class="catalog__sort_increase">Сначала недорогие</span>
						<span class="catalog__sort_decrease">Сначала дорогие</span>
					</a>
				</div>
			</div>
			<ul class="catalog__list">
				{% for item in catalog %}
					<li class="catalog__product">
						<div class="product product_type_shadow">
							<a href="{{item.link}}" class="product__link">
								<span class="product__image">
									<img src="{{item.image}}" alt="{{item.title}}" class="product__img" />
								</span>
								<span class="product__title">
									<span class="product__brand">{{item.brand}}</span>{{item.title}}
								</span>
							</a>
							<div class="product__basket">
								<div class="product__price price">{{item.price}}</div>
								<a href="#" class="product__add">Купить</a>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
			{% include 'pagination.html' %}
		</div>
	</div>
</div>