<div class="catalog page__container">
	<div class="catalog__top clearfix">
		<form action="#" method="get" class="search search_catalog">
			<input type="text" class="search__input" placeholder="Поиск по каталогу" />
			<button type="submit" class="search__button"></button>
		</form>
		<div class="catalog__head">
			<h2 class="catalog__title">Мужские часы</h2>
			<a class="catalog__sort" href="#">
				<span class="catalog__sort_increase">Сначала недорогие</span>
				<span class="catalog__sort_decrease">Сначала дорогие</span>
			</a>
		</div>
	</div>
	<div class="clearfix">
		<div class="catalog__aside">
			{% include 'filter.html' %}
		</div>
		<div class="catalog__content">
			<ul class="catalog__list">
				{% for item in catalog %}
					<li class="catalog__product">
						<div class="product product_type_shadow">
							<a href="{{item.link}}" class="product__link">
								<span class="product__image">
									<img src="{{item.image}}" alt="{{item.title}}" class="product__img" />
								</span>
								<span class="product__title">
									<span class="product__brand">{{item.brand}}</span>{{item.title}}
								</span>
							</a>
							<div class="product__basket">
								<div class="product__price price">{{item.price}}</div>
								<a href="#" class="product__add">Купить</a>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
			{% include 'pagination.html' %}
		</div>
	</div>
</div>