<div class="contact">
	<div class="page__container">
		<h3 class="contact__title">Адрес точки самовывоза</h3>
		<div class="contact__address">Екатеринбург, Радищева, 1 (Галамарт,  цокольный этаж)</div>
		<div class="contact__description">• Время самовывоза уточняйте по телефону</div>
	</div>
	<div class="contact__wrapper">
		<div class="contact__image">
			<img src="./images/contact.jpg" alt="{{page.title}}" />
		</div>
		<div class="contact__map" id="map"></div>
	</div>
</div>