<div class="delivery delivery_type_line">
	<div class="page__container">
		<h3 class="delivery__title">Доставка и оплата</h3>
		<div class="delivery__item delivery__item_delivery">
			<div class="delivery__subtitle">Доставка по Екатеринбургу</div>
			<div class="delivery__text"><b>Бесплатно</b></div>
		</div><div class="delivery__item delivery__item_pickup">
			<div class="delivery__subtitle">Самовывоз:</div>
			<div class="delivery__text">Екатеринбург, Радищева, 1</div>
		</div><div class="delivery__item delivery__item_payment">
			<div class="delivery__subtitle">Оплата:</div>
			<div class="delivery__text">Наличными, безналичный расчет, банковские карты.</div>
		</div>
	</div>
</div>