<div class="card__feature clearfix">
	<div class="card__brand">
		<div class="card__brand-image">
			<img src="./images/card-brand.png" alt="Casio">
		</div>
		<div class="card__brand-text">
			<p>Японский производитель электронных устройств. Корпорация основана в апреле 1946 года в Токио. Наиболее известна как производитель калькуляторов, аудио оборудования, КПК, фотокамер, музыкальных инструментов, планшетов и наручных часов.</p>
			<p>В 1957 году фирма Casio выпустила первый в мире полностью электронный калькулятор (Модель 14-А).</p>
			<p><a href="http://casio.com" target="_blank">WWW.CASIO.COM</a></p>
		</div>
	</div>
	<div class="card__feature-content">
		<div class="card__feature-title">Все характеристики</div>
		<table class="card__feature-table">
			{% for item in feature %}
				{% if loop.index > 5 %}
					<tr class="{% if loop.index % 2 %} card__feature_even {% else %} card__feature_odd {% endif %}">
						<td>{{item.title}}</td>
						<td>{{item.value}}</td>
					</tr>
				{% endif %}
			{% endfor %}
		</table>
	</div>
</div>