<div class="feedback">
	<h3 class="feedback__title">Отправить запрос</h3>
	<form class="feedback__form" action="#" method="get">
		<input class="feedback__input" type="text" placeholder="Представьтесь" />
		<input class="feedback__input" type="text" placeholder="Ваш Email / Телефон" />
		<textarea class="feedback__textarea" placeholder="Текст сообщения" ></textarea>
		<button class="feedback__button"><span>Отправить</span></button>
	</form>
</div>