<form class="filter" action="#" method="get">
	<div class="filter__row">
		<h4 class="filter__title">Фильтр подбора</h4>
		<div class="filter__content">
			<ul class="filter__tags">
				{% for tag in tags -%}
					<li class="filter__check">
						<input id="tag{{loop.index}}" type="checkbox" class="filter__input" />
						<label for="tag{{loop.index}}">{{tag.title}}</label>
					</li>
				{%- endfor %}
			</ul>
		</div>
	</div>
	<div class="filter__row">
		<div class="filter__row-title">Цена</div>
		<div class="filter__content">
			<div class="filter__range" data-min="500" data-max="30000" data-step="100">
				<input type="text" class="filter__value filter__value_min" value="2500" />
				<input type="text" class="filter__value filter__value_max" value="28000" />
				<div class="filter__slider"></div>
			</div> 
		</div>
	</div>
	<div class="filter__row">
		<div class="filter__row-title">Производитель</div>
		<div class="filter__content">
			<div class="filter__select">
				<div class="filter__placeholder">Выбрать производителя</div>
				<ul class="filter__list">
					{% for item in brands %}
						<li class="filter__item">
							<input id="brand{{loop.index}}" type="checkbox" class="filter__input" />
							<label for="brand{{loop.index}}">{{item.title}}</label>
						</li>
					{% endfor %}
				</ul>
			</div>
			<ul class="filter__select-list">
				{% for item in brands %}
					<li class="filter__select-item">
						<a href="#" class="filter__select-link">{{item.title}}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="filter__row">
		<div class="filter__row-title">Тип Механизма</div>
		<div class="filter__content">
			<div class="filter__checkbox">
				<input id="mechanism1" type="checkbox" class="filter__input" />
				<label for="mechanism1">Кварцевые</label>
			</div>
			<div class="filter__checkbox">
				<input id="mechanism2" type="checkbox" class="filter__input" />
				<label for="mechanism2">Механические</label>
			</div>
			<div class="filter__checkbox">
				<input id="mechanism3" type="checkbox" class="filter__input" />
				<label for="mechanism3">Электронные</label>
			</div>
			<div class="filter__checkbox">
				<input id="mechanism4" type="checkbox" class="filter__input" />
				<label for="mechanism4">Автоподзавод</label>
			</div>
			<div class="filter__checkbox">
				<input id="mechanism5" type="checkbox" class="filter__input" />
				<label for="mechanism5">Ручной завод</label>
			</div>
		</div>
	</div>
	<div class="filter__row">
		<div class="filter__row-title">Ремешок</div>
		<div class="filter__content">
			<div class="filter__checkbox">
				<input id="strap1" type="checkbox" class="filter__input" />
				<label for="strap1">Металлический</label>
			</div>
			<div class="filter__checkbox">
				<input id="strap2" type="checkbox" class="filter__input" />
				<label for="strap2">Кожаный</label>
			</div>
			<div class="filter__checkbox">
				<input id="strap3" type="checkbox" class="filter__input" />
				<label for="strap3">Нейлон</label>
			</div>
			<div class="filter__checkbox">
				<input id="strap4" type="checkbox" class="filter__input" />
				<label for="strap4">Резиновый</label>
			</div>
		</div>
	</div>
	<div class="filter__row">
		<a href="#" class="filter__all">Все параметры</a>
		<div class="clearfix">
			<div class="filter__result">23 Модели</div>
			<button type="submit" class="filter__button"><span>Применить</span></button>
		</div>
	</div>
</form>