<div class="footer">
	<div class="page__container">
		<div class="footer__inner">
			<div class="footer__cell">
				<div class="footer__logo">
					<a href="./index.html" class="footer__logo-link">
				        <img src="./images/logo.png" alt="Time66" />
				    </a>
				</div>
				<div class="footer__copyright">© 2008-2015</div>
			</div>
			<div class="footer__cell">
				<div class="footer__delivery">Бесплатная доставка по Екатеринбургу</div>
				<div class="footer__contact">
					<a href="./contact.html" class="footer__link">Контактная информация</a>
				</div>
			</div>
			<div class="footer__cell">
				<div class="footer__work">
					Время работы: 
	        		<b>10:00-20:00</b>
				</div>
			</div>
			<div class="footer__cell">
				<div class="footer__phone">
					<span class="footer__phone-index">8 343</span> 201 66 23
				</div>
				<div class="footer__address">
					Екатеринбург, Радищева 1,<br>
					вход в «Галамарт», цокольный этаж
				</div>
			</div>
		</div>
	</div>
</div>