<div class="header">
  <div class="clearfix page__container">
    <div class="header__info">
      <div class="header__cell header__phone">
        <span class="header__phone-index">8 343</span> 201 66 23
      </div>
      <div class="header__cell header__work">
        Время работы: 
        <b>10:00-20:00</b>
      </div>
    </div>
    <div class="header__logo">
      <a href="./index.html" class="header__logo-link">
        <img src="./images/logo.png" alt="Time66" />
      </a>
    </div>
    <div class="header__menu">
      {% include 'menu.html' %}
    </div>
    {% if basketHeader %}
      <div class="basket-header">
        <div class="basket-header__text">Ваши покупки:</div>
        <a href="#basket" class="basket-header__link">
          {{ basketHeader.count }}, {{ basketHeader.price }}
        </a>
      </div>
    {% endif %}
  </div>
</div>