<div class="hit">
	<div class="hit__top clearfix">
		<ul class="hit__tabs">
			{% for item in hit %}
				<li class="hit__item {% if loop.first %} hit__item_active {% endif %}">
					<a href="#" class="hit__link">{{item.title}}</a>
				</li>
			{% endfor %}
		</ul>
		<h3 class="hit__title">Хиты продаж</h3>
	</div>
	<div class="hit__content">
		{% for carousel in hit %}
			<div class="hit__carousel {% if loop.first %} hit__carousel_active {% endif %}">
				{% if loop.length > 3 %}
					<a href="#" class="hit__arrow hit__arrow_prev"></a>
					<a href="#" class="hit__arrow hit__arrow_next"></a>
				{% endif %}
				<ul class="hit__list">
					{% for item in carousel.carousel %}
						<li class="hit__product">
							<div class="product">
								<a href="{{item.link}}" class="product__link">
									<span class="product__image">
										<img src="{{item.image}}" alt="{{item.title}}" class="product__img" />
									</span>
									<span class="product__title">
										<span class="product__brand">{{item.brand}}</span>{{item.title}}
									</span>
								</a>
								<div class="product__basket">
									<div class="product__price price">{{item.price}}</div>
									<a href="#" class="product__add">Купить</a>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endfor %}
	</div>
</div>