<div class="info">
	<div class="page__container">
		<div class="info__inner">
			<div class="info__cell info__cell_delivery">
				Бесплатная доставка<br>по Екатеринбургу
			</div>
			<div class="info__cell info__cell_sert">
				Только оригинальные<br>модели часов
			</div>
			<div class="info__cell info__cell_catalog">
				987 моделей<br>в <a href="./catalog.html">Каталоге</a>
			</div>
			<div class="info__cell">
				<form action="#" method="get" class="search">
					<input type="text" class="search__input" placeholder="Поиск по каталогу" />
					<button type="submit" class="search__button"></button>
				</form>
			</div>
		</div>
	</div>
</div>