<div class="list">
	<div class="page__container">
		<ul class="list__inner">
			{% for item in list -%}
				<li class="list__item">
					<a href="{{item.link}}" class="list__link">{{item.title}}</a>
				</li>
			{%- endfor %}
		</ul>
	</div>
</div>