<ul class="menu">
	{% for item in menu -%}
		<li class="menu__item {% if item.submenu %} menu__item_sub {% endif %}">
			<a href="{{item.href}}" class="menu__link">{{item.title}}</a>
			{% if item.submenu %}
				<ul class="menu__sublist">
					{% for sub in item.submenu %}
						<li class="menu__item">
							<a href="{{sub.href}}" class="menu__link">{{sub.title}}</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</li>
	{%- endfor %}
</ul>