<div class="offer">
	<div class="page__container">
		<div>
			<a href="./index.html" class="page__link">Главная страница</a>
		</div>
		<h2 class="offer__title">{{offer.title}}</h2>
		<div class="clearfix">
			<div class="offer__aside">
				{% for item in offer.products %}
					<div class="product product_type_shadow">
						<a href="{{item.link}}" class="product__link">
							<span class="product__image">
								<img src="{{item.image}}" alt="{{item.title}}" class="product__img" />
							</span>
							<span class="product__title">
								<span class="product__brand">{{item.brand}}</span>{{item.title}}
							</span>
						</a>
						<div class="product__basket">
							<div class="product__price price">{{item.price}}</div>
							<a href="#" class="product__add">Купить</a>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="offer__content">
				<div class="offer__text">{{offer.text}}</div>
				<div class="offer__gallery">
					<ul class="offer__list">
						{% for item in offer.images %}
							<li class="offer__image {% if loop.first %} offer__image_active {% endif %}">
								<img src="{{item.image}}" alt="{{offer.title}}">
							</li>
						{% endfor %}
					</ul>
					<div class="offer__preview">
						<a href="#" class="offer__arrow offer__arrow_prev"></a>
						<a href="#" class="offer__arrow offer__arrow_next"></a>
						<ul class="offer__preview-list">
							{% for item in offer.images %}
								<li class="offer__preview-item {% if loop.first %} offer__preview-item_active {% endif %}">
									<a href="#" class="offer__link">
										<img src="{{item.small}}" alt="{{offer.title}}" />
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>