<div class="offer-form">
	<div class="page__container">
		<div class="offer-form__inner">
			<h2 class="offer-form__title">Оформление заказа</h2>
			<div class="offer-form__row">
				<input type="text" class="offer-form__input" placeholder="Представьтесь">
			</div>
			<div class="offer-form__row">
				<div class="offer-form__cell">
					<input type="text" class="offer-form__input" placeholder="Ваш телефон">
				</div><div class="offer-form__cell">
					<input type="text" class="offer-form__input" placeholder="Ваш Email">
				</div>
			</div>
			<div class="offer-form__row">
				<textarea class="offer-form__textarea" placeholder="Комментарий (если потребуется)"></textarea>
			</div>
			<div class="offer-form__delivery">
				<div class="offer-form__cell">
					<input id="freeDelivery" type="radio" name="delibery" class="offer-form__radio" checked>
					<label for="freeDelivery" class="offer-form__label">Бесплатная доставка по Екатеринбургу</label>
					<div class="offer-form__description">
						<div class="offer-form__row">
							<textarea class="offer-form__textarea" placeholder="Адрес доставки"></textarea>
						</div>
						<div class="offer-form__row">
							<select class="offer-form__select select">
								<option value="time1">9:00 — 15:00</option>
								<option value="time2">15:00 — 21:00</option>
							</select>
						</div>
					</div>
				</div><div class="offer-form__cell">
					<input id="pickup" type="radio" name="delibery" class="offer-form__radio">
					<label for="pickup" class="offer-form__label">Самовывоз</label>
					<div class="offer-form__description">
						<div class="offer-form__row">
							Екатеринбург, Радищева, 1
							<div class="offer-form__time">10:00 — 20:00</div>
						</div>
						<div class="offer-form__row">
							Телефон для справок
							<div class="offer-form__phone">(343) <b>201 66 23</b></div>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="offer-form__buy" ><span>КУПИТЬ</span></a>
		</div>
	</div>
</div>