<div class="ordering">
	<div class="page__container clearfix">
		<div class="ordering__wrapper">
			<div class="ordering__inner">
				<div class="ordering__content">
					<h3 class="ordering__title">Оформление заказа</h3>
					<ol class="ordering__list">
						<li class="ordering__item">
							<p>Для заказа товаров, выберите модель и нажмите “Купить”. Затем, система предложит Вам оформить заказ.</p>
							<p>
								Все вопросы задавайте по телефону:
								<span class="ordering__contact">(343) 211 66 23</span>
							</p>
						</li><li class="ordering__item">
							<p>Введите свои данные, и наш<br>менеджер согласует адрес доставки<br>и способ оплаты.</p>
							<p>
								Или напишите на почту:
								<a href="mailto:info@time66.ru" class="ordering__contact">info@time66.ru</a>
							</p>
						</li>
					</ol>
				</div>
				<div class="ordering__delivery">
					<div class="ordering__delivery-inner">
						<h3 class="ordering__title">Доставка по области и в регионы</h3>
						<p><b>Доставка по области:</b><br/>
							Курьером или Наложеннным платежем</p>
						<p><b>Доставка по России:</b><br/>
							Наложенным платежем</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>