<div class="pagination">
	<ul class="pagination__list">
		{% for item in ["1", "2", "3", "4"]%}
			<li class="pagination__item {% if loop.first %} pagination__item_active {% endif %}">
				<a href="#{{item}}" class="pagination__link">{{item}}</a>
			</li>
		{% endfor %}
	</ul>
	<a href="#" class="pagination__yet">Показать еще 12</a>
</div>