<div class="card">	
	{% include 'card.html' %}
</div>
<div class="card card_grey">	
	<div class="page__container">
		<div class="card__description">
			{% include 'feature.html' %}
			{% include 'video.html' %}
		</div>
		<div class="hit">
			<h3 class="hit__title">С этим товаром смотрят:</h3>
			<div class="hit__content">
				<div class="hit__carousel hit__carousel_active">
					<a href="#" class="hit__arrow hit__arrow_prev"></a>
					<a href="#" class="hit__arrow hit__arrow_next"></a>
					<ul class="hit__list">
						{% for item in hit[0].carousel %}
							<li class="hit__product">
								<div class="product">
									<a href="{{item.link}}" class="product__link">
										<span class="product__image">
											<img src="{{item.image}}" alt="{{item.title}}" class="product__img" />
										</span>
										<span class="product__title">
											<span class="product__brand">{{item.brand}}</span>{{item.title}}
										</span>
									</a>
									<div class="product__basket">
										<div class="product__price price">{{item.price}}</div>
										<a href="#" class="product__add">Купить</a>
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>