<div class="review page__container">
	<h2 class="review__title">Отзывы</h2>
	<ul class="review__list">
		{% for item in reviews -%}
			<li class="review__item">
				<div class="review__image">
					{% if item.image %}
						<img src="{{item.image}}" class="review__img" alt="{{item.title}}" />
					{% else %}
						<img src="./images/nophoto.jpg" class="review__img" alt="{{item.title}}" />
					{% endif %}
				</div>
				<div class="review__body">
					<div class="review__item-title">
						{% if item.link %}
							<a href="{{item.link}}" target="_blank">{{item.title}}</a>
						{% else %}
							{{item.title}}
						{% endif %}
					</div>
					<div class="review__text">{{item.text}}</div>
				</div>
			</li>
		{%- endfor %}
	</ul>
</div>