<div class="section">
	<div class="page__container">
		<ul class="section__list">
			{% for item in section -%}
				<li class="section__item">
					<a href="{{item.link}}" class="section__link">
						<span class="section__image">
							<img src="{{item.image}}" alt="{{item.title}}"/>
						</span>
						<span class="section__title">{{item.title}}</span>
					</a>
				</li>
			{%- endfor %}
		</ul>
	</div>
</div>