<div class="card__video">
	<div class="card__video-title">Видеообзор часов Casio GLS-8900LV-2E</div>
	<div class="clearfix">
		<div class="card__video-aside"><p>В этом видео присутствует перечень всех<br>основных функций этого замечательного<br>хронографа.</p></div>
		<div class="card__video-content">
			<iframe width="640" height="360" src="https://www.youtube.com/embed/jm5oG6I68zk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>