<div class="viewed {% if viewedWhite %} viewed_white {% endif %}">
	<div class="page__container">
		<h3 class="viewed__title">Вы недавно смотрели</h3>
		<div class="viewed__carousel">
			<a href="#" class="viewed__arrow viewed__arrow_prev"></a>
			<a href="#" class="viewed__arrow viewed__arrow_next"></a>
			<ul class="viewed__list">
				{% for item in viewed -%}
					<li class="viewed__product">
						<div class="product-small">
							<a href="{{item.link}}" class="product-small__link">
								<span class="product-small__image">
									<img src="{{item.image}}" alt="{{item.title}}" class="product-small__img" />
								</span><span class="product-small__content">
									<span class="product-small__title">
										<span class="product-small__brand">{{item.brand}}</span>{{item.title}}
									</span>
									<span class="product-small__price price">{{item.price}}</span>
								</span>
							</a>
							<a href="#" class="product-small__basket">Купить</a>
						</div>
					</li>
				{%- endfor %}
			</ul>
		</div>
	</div>
</div>