@import "../main/var";

.contact{
	padding: 50px 0 60px;

	&__title{
		margin: 0;
	}

	&__description{
		font-weight: 600;
	}

	&__wrapper{
		margin: 50px 0; 
		position: relative;
	}

	&__image{
		position: absolute;
		z-index: 10;
		top: -30px;
		bottom: -30px;
		left: 45px;
		box-shadow: 0 1px 7px rgba(0,0,0,0.35), inset 0 0 3px rgba(0,0,0,0.25);
		border: 10px solid @c-white;

		img{
			display: block;
		}
	}

	&__map{
		height: 320px;
		box-shadow: 0 0 7px rgba(0,0,0,0.25);
	}
}