@import "../main/var";

.basket{
	width: 630px;
	padding: 30px 35px;
	box-sizing: border-box;

	&_page{
		padding: 30px 0;
	}

	&__header{
		position: relative;
		padding-right: 30px;
	}

	&__item{
		display: table;
		width: 100%;
		border-bottom: 1px solid lighten(@c-grey, 10%);

		&-title{
			text-transform: uppercase;
			font-weight: 600;
			font-size: 15px;
			text-decoration: none;
			color: @c-grey;

			&:hover{
				color: @c-black;
			}
		}
	}

	&__cell{
		display: table-cell;
		padding: 15px 10px;
		vertical-align: middle;

		&_delete{
			width: 10px;
		}

		&_image{
			width: 100px;
		}

		&_count{
			width: 80px;
		}

		&_price{
			width: 100px;
			text-align: right;
		}
	}

	&__brand{
		color: @c-black;
		margin-right: 5px;
	}

	&__delete{
		background: url(../images/close-brand.png) no-repeat center;
		display: block;
		width: 10px;
		height: 40px;
	}

	&__image{
		position: relative;
		width: 100px;
		height: 100px;
	}

	&__img{
		position: absolute;
		width: auto;
		height: auto;
		max-width: 100px;
		max-height: 100px;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
	}

	&__count{
		font: 14px/20px 'pt_sans', Arial, sans-serif;
		border: 1px solid fadeout(lighten(@c-blue, 10%), 70%);
		border-radius: 2px;
		box-sizing: border-box;
		width: 50px;
		padding: 6px 12px;
		margin-bottom: 10px;
	}

	&__price{
		font-size: 21px;
		color: @c-red;
		white-space: nowrap;
	}

	&__button{
		border: none;
		background: @c-link;
		color: @c-white;
		text-transform: uppercase;
		cursor: pointer;
		font: 15px/32px 'pt_sans', Arial, sans-serif;
		font-weight: 600;
		padding: 0 15px;
		height: 32px;
		position: relative;
		display: inline-block;
		text-decoration: none;

		&:before{
			content: "";
			width: 44px;
			height: 44px;
			display: block;
			border-radius: 50%;
			background: @c-link;
			position: absolute;
			z-index: 0;
			top: -6px;
			left: 50%;
			margin-left: -22px;
		}

		span{
			position: relative;
			z-index: 1;
		}
	}

	&__total{
		float:right;
		color: @c-red;
		font-size: 36px;
	}

	&__bottom{
		margin: 35px 0 5px;
	}

	&-header{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 10px;
		background: @c-red;
		color: @c-white;
		font-size: 13px;
		padding: 10px;
		display: table-cell;
		vertical-align: middle;

		&__link{
			font-size: 15px;
			font-weight: 600;
			color: @c-white;
			text-decoration: none;
			line-height: 1;
			display: inline-block;
			border-bottom: 1px dotted @c-white;
			white-space: nowrap;

			&:hover{
				border-color: transparent;
			}

			&:after{
				content: "Р";
				font-weight: 400;
			}
		}
	}
}