@import "../main/var";

.section{
	background: @c-dark;
	padding: 40px 0;
	box-shadow: inset 0 100px 100px -100px @c-link;

	&__item{
		display: inline-block;
		vertical-align: top;
		text-align: center;
		padding: 10px;
		width: 176px;
	}

	&__link{
		text-decoration: none;
		display: block;
		text-transform: uppercase;
		color: @c-white;
		font-family: 'pf_beausans_prosemibold';
		font-size: 16px;
		line-height: 20px;

		&:hover{
			color: @c-link;

			.section__image:before{
				display: block;
			}
		}
	}

	&__image{
		display: block;
		height: 250px;
		position: relative;

		&:before{
			content: "";
			position: absolute;
			display: none;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			width: 1px;
			height: 1px;
			border-radius: 50%;
			box-shadow: 0 0 150px 50px @c-link;
		}

		img{
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			height: auto;
			width: auto;
			max-height: 250px;
			max-width: 170px;
		}
	}

	&__title{
		display: block;
	}
}