@import "../main/var";

.review{
	padding: 25px 0 45px;

	&__list{
		margin: 0 -10px;
	}

	&__item{
		width: 50%;
		display: inline-block;
		vertical-align: top;
		position: relative;
		z-index: 0;
		padding: 0 10px;
		box-sizing: border-box;
		margin-bottom: 20px;
		height: 130px;

		&:hover{
			z-index: 10;

			.review__text{
				height: auto;
				overflow-y: auto;

				&:before{
					display: none;
				}
			}
		}
	}

	&__body{
		left: 160px;
		right: 0;
		top:0;
		background: #fff;
		box-shadow: 0 1px 4px rgba(0,0,0,0.25);
		padding: 5px 0 0 10px;
		position: absolute;

		&:before{
			content: '';
			position: absolute;
			top: 40px;
			left: -12px;
			border-right: 12px solid rgba(0,0,0,0.1);
			border-top: 12px solid transparent;
			border-bottom: 12px solid transparent;
		}

		&:after{
			content: '';
			position: absolute;
			top: 42px;
			left: -10px;
			border-right: 10px solid #fff;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
		}
	}

	&__image{
		position: absolute;
		top: 0;
		left: 10px;
		width: 130px;
		height: 130px;
		box-shadow: 0 1px 4px rgba(0,0,0,0.25);
	}

	&__img{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: auto;
		height: auto;
		max-height: 130px;
		max-width: 130px;
		margin: auto;
	}

	&__item-title{
		text-transform: uppercase;
	    font-weight: 600;
	    font-size: 15px;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    margin-bottom: 5px;
	}

	&__text{
		overflow: hidden;
		height: 95px;
		padding-right: 10px;
		min-height: 95px;
		position: relative;
		max-height: 300px;

		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 30px;
			background: linear-gradient( rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 1));
		}
	}
}