@import "../main/var";

.hit{
	padding: 30px 0;

	&__tabs{
		float: right;
		padding-top: 10px;
	}

	&__title{
		padding-right: 350px;
	}

	&__item{
		display: inline-block;

		&_active{
			.hit__link{
				background: @c-red;
				color: @c-white;

				&:before{
					content: "";
					position: absolute;
					top: 100%;
					left: 50%;
					margin-left: -5px;
					border-top: 5px solid @c-red;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
				}
			}
		}
	}

	&__link{
		text-decoration: none;
		color: @c-black;
		text-transform: uppercase;
		font-size: 13px;
		display: block;
		line-height: 25px;
		padding: 0 15px;
		position: relative;
	}

	&__content{
		height: 350px;
		margin: 0 -60px;
		padding: 0 60px;
		overflow: hidden;
	}

	&__carousel{
		position: relative;
		display: none;

		&_active{
			display: block;
		}
	}

	&__product{
		display: inline-block;
		width: 245px;
		height: 350px;
		text-align: center;
	}

	&__arrow{
		position: absolute;
		top: 0;
		bottom: 0;
		width: 60px;

		&:before{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			top: 0;
			margin: auto;
			width: 15px;
			height: 27px;
			background: url(../images/hit.png) no-repeat left top;
		}

		&_prev{
			left: -60px;

			&.hit__arrow_disabled:before{
				background-position: left bottom;
			}
		}

		&_next{
			right: -60px;

			&:before{
				background-position: right top;
			}

			&.hit__arrow_disabled:before{
				background-position: right bottom;
			}
		}
	}
}

@media (max-width: 1120px) {
	.hit__arrow{
		display: none;
	}

	.hit__content{
		margin: 0;
		padding: 0;
	}
}