@font-face {
    font-family: 'glober';
    src: url('../fonts/glober-bold-free.eot');
    src: url('../fonts/glober-bold-free.eot?#iefix') format('embedded-opentype'),
         url('../fonts/glober-bold-free.woff2') format('woff2'),
         url('../fonts/glober-bold-free.woff') format('woff'),
         url('../fonts/glober-bold-free.ttf') format('truetype'),
         url('../fonts/glober-bold-free.svg#globerbold_free') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'glober';
    src: url('../fonts/glober_light.eot');
    src: url('../fonts/glober_light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/glober_light.woff2') format('woff2'),
         url('../fonts/glober_light.woff') format('woff'),
         url('../fonts/glober_light.ttf') format('truetype'),
         url('../fonts/glober_light.svg#globerlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_sans_caption';
    src: url('../fonts/ptc55f.eot');
    src: url('../fonts/ptc55f.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ptc55f.woff2') format('woff2'),
         url('../fonts/ptc55f.woff') format('woff'),
         url('../fonts/ptc55f.ttf') format('truetype'),
         url('../fonts/ptc55f.svg#pt_sans_captionregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sans_caption';
    src: url('../fonts/ptc75f.eot');
    src: url('../fonts/ptc75f.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ptc75f.woff2') format('woff2'),
         url('../fonts/ptc75f.woff') format('woff'),
         url('../fonts/ptc75f.ttf') format('truetype'),
         url('../fonts/ptc75f.svg#pt_sans_captionbold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'pt_sans';
    src: url('../fonts/pts55f.eot');
    src: url('../fonts/pts55f.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pts55f.woff2') format('woff2'),
         url('../fonts/pts55f.woff') format('woff'),
         url('../fonts/pts55f.ttf') format('truetype'),
         url('../fonts/pts55f.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sans';
    src: url('../fonts/pts56f.eot');
    src: url('../fonts/pts56f.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pts56f.woff2') format('woff2'),
         url('../fonts/pts56f.woff') format('woff'),
         url('../fonts/pts56f.ttf') format('truetype'),
         url('../fonts/pts56f.svg#pt_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'pt_sans';
    src: url('../fonts/pts75f.eot');
    src: url('../fonts/pts75f.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pts75f.woff2') format('woff2'),
         url('../fonts/pts75f.woff') format('woff'),
         url('../fonts/pts75f.ttf') format('truetype'),
         url('../fonts/pts75f.svg#pt_sansbold') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sans';
    src: url('../fonts/pts76f.eot');
    src: url('../fonts/pts76f.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pts76f.woff2') format('woff2'),
         url('../fonts/pts76f.woff') format('woff'),
         url('../fonts/pts76f.ttf') format('truetype'),
         url('../fonts/pts76f.svg#pt_sansbold_italic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'pf_beausans_prolight';
    src: url('../fonts/pfbeausanspro-light.eot');
    src: url('../fonts/pfbeausanspro-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfbeausanspro-light.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-light.woff') format('woff'),
         url('../fonts/pfbeausanspro-light.ttf') format('truetype'),
         url('../fonts/pfbeausanspro-light.svg#pf_beausans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_beausans_prosemibold';
    src: url('../fonts/pfbeausanspro-semibold.eot');
    src: url('../fonts/pfbeausanspro-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfbeausanspro-semibold.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-semibold.woff') format('woff'),
         url('../fonts/pfbeausanspro-semibold.ttf') format('truetype'),
         url('../fonts/pfbeausanspro-semibold.svg#pf_beausans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}