@import "var";

html, body{
	height: 100%;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'pf_beausans_prolight';
    font-size: 28px;
    margin-bottom: 25px;
}

.price{
    font-family: 'pf_beausans_prosemibold';
    line-height: 1;
    display: inline-block;
    position: relative;

    &:before{
        content: "=";
        position: absolute;
        right: 3px;
        top: 10%;
        font-size: 90%;
        line-height: 1.15;
    }

    &:after{
        content: " P";
    }
}

a{
    color: @c-link;

    &:hover{
        text-decoration: none;
    }
}

.page{
    background: url(../images/bg.jpg) center fixed;
    background-size: cover;
    color: @c-black;
    max-width: 1100px;
    min-width: 1000px;
    margin: 0 auto;
    font: 14px/1.7 'pt_sans', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;

    &__inner{
    	min-height: 100%;
        background: @c-white;
        box-shadow: 0 2px 25px rgba(0,0,0,0.35);
    }

    &__container{
        width: 980px;
        margin: 0 auto;
        padding: 0 10px;
    }

    &__footer{
    	height: 190px;
    }

    &__seo{
        display: inline-block;
        width: 550px;
        vertical-align: top;
        padding-right: 110px;
    }

    &__info{
        display: inline-block;
        width: 320px;
        vertical-align: top;
    }

    &__link{
        color: @c-black;
        display: inline-block;
        margin: 25px 0 15px;
    }
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1; /* Хак для IE 6 и 7 */
}