@import "../main/var";

.info{
	background: @c-white;
	box-shadow: 0 3px 8px rgba(0,0,0,0.15);

	&__inner{
		display: table;
		width: 100%;
	}

	&__cell{
		display: table-cell;
		height: 68px;
		vertical-align: middle;
		padding-right: 40px;
		line-height: 1.3;
		white-space: nowrap;

		&:last-child{
			padding-right: 0;
		}

		&_delivery{
			background: url(../images/delivery.png) no-repeat left center;
			padding-left: 65px;
			font-weight: 600;
			color: @c-red;
		}

		&_sert{
			background: url(../images/sert.png) no-repeat left center;
			padding-left: 50px;
		}

		&_catalog{
			background: url(../images/catalog.png) no-repeat left center;
			padding-left: 50px;
		}
	}
}