@import "../main/var";

.fancybox{
	display: none;

	&-skin{
		border-radius: 0 !important;
		background: @c-white;
	}

	&__close{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		margin: auto 0 auto;
		background: url(../images/close-fancybox.png) no-repeat center;
		width: 20px;
		height: 20px;
	}
}