@import "../main/var";

.search{
	border: 1px solid fadeout(lighten(@c-blue, 10%), 70%);
	border-radius: 2px;
	width: 310px;
	box-sizing: border-box;

	&__input{
		font: 14px/20px 'pt_sans', Arial, sans-serif;
		padding: 6px 12px;
		border: none;
		width: 255px;
	}

	&__button{
		border: none;
		background: url(../images/search.png) no-repeat left center;
		width: 30px;
		height: 32px;
		vertical-align: top;
		cursor: pointer;
	}

	&_catalog{
		float:right;
		width: 235px;
		margin-right: 5px;

		.search__input{
			width: 175px;
		}
	}
}