@import "../main/var";

.footer{
	background: @c-blue;
	margin-top: -140px;
	color: @c-white;

	&__inner{
		display: table;
		width: 100%;
	}

	&__cell{
		display: table-cell;
		height: 100px;
		padding: 30px 0 10px;
		vertical-align: top;
	}

	&__logo{
		width: 240px;

		&-link{
			display: block;
			position: relative;
			height: 40px;

			img{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto auto auto 0;
				display: block;
			}
		}
	}

	&__copyright{
		padding-top: 5px;
	}

	&__delivery{
		padding: 10px 0;
		width: 240px;
		color: @c-link;
	}

	a{
		color: @c-white;
	}

	&__work{
		width: 90px;
		padding: 10px 20px;
		border-radius: 5px;
		border: 1px solid lighten(@c-blue, 10%);

		b{
			display: block;
			font-weight: 600;
			font-size: 15px;
			padding-top: 10px;
		}
	}

	&__phone{
		padding:5px 0 5px 30px;
		font-family: 'glober';
		font-weight: 600;
		font-size: 21px;

		&-index{
			font-weight: normal;
		}
	}

	&__address{
		padding-left: 30px;
		line-height: 1.2;
	}
}