@import "../main/var";

.card{
	box-shadow: 0 3px 8px rgba(0,0,0,0.15);
	position: relative;
	z-index: 1;

	&_grey{
		background: lighten(@c-grey, 39%);
		z-index: 0;
		box-shadow: none;
	}

	&__description{
		display: none;
	}

	&__head{
		padding-right: 250px;
	}

	&__title{
		min-width: 245px;
		display: inline-block;
		padding-right: 20px;
	}

	&__aside{
		float:right;
		width: 240px;
	}

	&__image{
		float:left;
		width: 270px;

		&-link{
			display: none;
			height: 350px;
			position: relative;

			&:before{
				content: "";
				position: absolute;
				z-index:10;
				top: 0;
				left: 0;
				width: 22px;
				height: 22px;
				background: url(../images/big-icon.jpg) no-repeat;
			}

			&_active{
				display: block;
			}
		}

		&-img{
			width: auto;
			height: auto;
			max-height: 350px;
			max-width: 270px;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			position: absolute;
		}
	}

	&__text{
		font-size: 15px;
		line-height: 24px;
		padding-bottom: 10px;

		p{
			margin-bottom: 10px;
		}
	}

	&__content{
		padding: 0 260px 0 290px;
	}

	&__price{
		font-size: 40px;
		margin-bottom: 10px;
	}

	&__sale{
		float:right;
		width: 75px;
		color: @c-grey;
		font-size: 28px;
	}

	&__add{
		background: @c-red;
		vertical-align: top;
		color: @c-white;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 600;
		display: inline-block;
		font-size: 24px;
		position: relative;
		padding: 0 25px;
		line-height: 44px;

		&:after{
			content: "";
			position: absolute;
			right: 0;
			top: 1px;
			bottom: 1px;
			width: 3px;
			background: url(../images/product.png) repeat-y right center;
		}
	}

	&__video{
		padding: 15px 0 30px;

		&-title{
			text-transform: uppercase;
			color: @c-grey;
			margin-bottom: 15px;
		}

		&-aside{
			float:right;
			width: 300px;
			border-top: 2px solid @c-red;
			padding: 15px 15px 15px 0;
			line-height: 20px;
			font-size: 13px;
		}

		&-content{
			padding-right: 340px;
		}
	}

	&__brand{
		float:right;
		width: 430px;

		&-text{
			font-size: 13px;
			line-height: 20px;

			p{
				margin-bottom: 10px;
			}
		}

		&-image{
			height: 130px;
			position: relative;

			img{
				width: auto;
				height: auto;
				max-width: 430px;
				max-height: 130px;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto auto auto 0;
			}
		}
	}

	&__feature{
		padding: 15px 0;

		&-content{
			padding-right: 490px;
		}

		&-title{
			text-transform: uppercase;
			color: @c-grey;
			margin-bottom: 15px;
		}

		&-table{
			width: 100%;

			td{
				width: 50%;
				padding: 5px 10px;

				&:first-child{
					font-weight: 600;
				}
			}
		}

		&-all{
			display: inline-block;
			line-height: 1;
			text-decoration: none;
			color: @c-black;
			border-bottom: 1px dotted @c-black;
			margin-top: 20px;
		}

		&_odd{
			td{
				background: @c-white;
			}
		}

		&_even{
			td{
				background: lighten(@c-grey, 39%);
			}
		}
	}

	&__preview{
		position: relative;
		padding: 0 25px;
		margin: 10px 0 30px;

		&-arrow{
			position: absolute;
			top: 0;
			bottom: 0;
			width: 25px;

			&:before{
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				right: 0;
				top: 0;
				margin: auto;
				width: 15px;
				height: 27px;
				background: url(../images/hit.png) no-repeat left top;
			}

			&_next{
				right: 0;

				&:before{
					background-position: right top;
				}

				&.card__preview-arrow_disabled:before{
					background-position: right bottom;
				}
			}

			&_prev{
				left: 0;

				&.card__preview-arrow_disabled:before{
					background-position: left bottom;
				}
			}
		}

		&-item{
			width: 100px;
			padding: 5px;

			&_active{
				.card__preview-link{
					box-shadow: 0 1px 4px rgba(0,0,0,0.25), 0 -3px 0 @c-red;
				}
			}
		}

		&-link{
			display: block;
			height: 80px;
			position: relative;
			box-shadow: 0 1px 4px rgba(0,0,0,0.25);
		}

		&-image{
			width: auto;
			height: auto;
			max-width: 90px;
			max-height: 80px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
	}
}