@import "../main/var";

.viewed{
	padding: 20px 0;
	background: lighten(@c-grey, 39%);
	margin-bottom: 30px;

	&_white{
		background: @c-white;
	}

	&__title{
		margin-bottom: 15px;
	}

	&__link{
		text-decoration: none;
		color: @c-black;
		text-transform: uppercase;
		font-size: 13px;
		display: block;
		line-height: 25px;
		padding: 0 15px;
		position: relative;
	}

	&__carousel{
		position: relative;
	}

	&__product{
		display: inline-block;
		width: 245px;
		height: 140px;
	}

	&__arrow{
		position: absolute;
		top: 0;
		bottom: 30px;
		width: 60px;

		&:before{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			top: 0;
			margin: auto;
			width: 15px;
			height: 27px;
			background: url(../images/hit.png) no-repeat left top;
		}

		&_prev{
			left: -60px;

			&.viewed__arrow_disabled:before{
				background-position: left bottom;
			}
		}

		&_next{
			right: -60px;

			&:before{
				background-position: right top;
			}

			&.viewed__arrow_disabled:before{
				background-position: right bottom;
			}
		}
	}
}

@media (max-width: 1120px) {
	.viewed__arrow{
		display: none;
	}

	.viewed__content{
		margin: 0;
		padding: 0;
	}
}