@import "../main/var";

.catalog{
	padding: 25px 0 45px;

	&__head{
		padding-right: 250px;
	}

	&__title{
		min-width: 245px;
		display: inline-block;
		padding-right: 20px;
	}

	&__sort{
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px dashed @c-black;
		color: @c-black;
		line-height: 1.2;
		margin-right: 25px;

		&_increase{
			display: block;
			position: relative;

			&:before{
				content: "";
				position:absolute;
				right: -20px;
				top: 6px;
				width: 0;
				height: 0;
				border-bottom: 7px solid @c-red;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
			}

			.catalog__sort_true &{
				display: none;
			}
		}

		&_decrease{
			display: none;
			position: relative;

			&:before{
				content: "";
				position:absolute;
				right: -20px;
				top: 6px;
				width: 0;
				height: 0;
				border-top: 7px solid @c-red;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
			}

			.catalog__sort_true &{
				display: block;
			}
		}
	}

	&__content{
		padding-left: 265px;
	}

	&__product{
		display: inline-block;
		vertical-align: top;

		.product{
			width: 225px;
			margin-bottom: 20px;

			&__img{
				max-width: 210px;
			}
		}
	}

	&__aside{
		float:left;
		width: 250px;
	}

	&-brand{
		margin: 15px 5px;

		&__wrapper{
			padding-bottom: 45px;
		}

		&__inner{
			overflow: hidden;
			margin-bottom: 40px;
		}

		&__title{
			text-transform: uppercase;
			margin-bottom: 15px;
			line-height: 1.2;
		}

		&__aside{
			float:left;
			width: 180px;
		}

		&__content{
			padding-left: 200px;

			p{
				margin-bottom: 10px;
			}
		}

		&__image{
			height: 110px;
			position: relative;
			margin-bottom: 10px;
		}

		&__img{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: auto;
			height: auto;
			max-width: 180px;
			max-height: 110px;
		}

		&__link{
			color: @c-black;
			display: block;
			text-decoration: underline;
			text-align: center;
		}
	}
}