@import "../main/var";

.carousel{
	height: 380px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	max-width: 1100px;

	&__arrow{
		position: absolute;
		top:0;
		bottom: 0;
		width: 60px;
		z-index: 10;

		&:before{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			top: 0;
			margin: auto;
			width: 16px;
			height: 26px;
			background: url(../images/carousel.png) no-repeat left center;
		}

		&_prev{
			left: 0;
		}

		&_next{
			right: 0;

			&:before{
				background-position: right center;
			}
		}
	}

	&__item{
		display: block;
		height: 380px;
	}

	&__link{
		position: relative;
		display: block;
		height: 380px;
		width: 100%;
	}

	&__image{
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		top: 0;
		margin: auto;
	}
}