@import "../main/var";

.ordering{
	position: relative;
	overflow: hidden;
	background: lighten(@c-grey, 36.2%);

	&:before{
		content: "";
		background: @c-white;
		position: absolute;
		z-index: 0;
		top: 0;
		bottom: 0;
		left: -50%;
		width: 100%;
	}

	&__wrapper{
		float: left;
		width: 100%;
		overflow: hidden;
	}

	&__inner{
		float: left;
	    background: @c-white;
	    position: relative;
	    right: 335px;
	}

	&__content{
		float: left;
	    width: 645px;
	    position: relative;
	    left: 335px;
	    padding-top: 50px;
	}

	&__delivery{
		float: left;
	    width: 335px;
	    position: relative;
	    left: 335px;

	    &-inner{
	    	padding:50px 25px 0;
	    }
	}

	&__content,
	&__delivery{
		&:before{
			content: "x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x";
		    font-size: 100px;
		    overflow: hidden;
		    height: 0;
		    display: block;
		}
	}

	&__title{
		line-height: 32px;
	}

	&__list{
		counter-reset: item;
	}

	&__item{
		position: relative;
		padding: 0 50px 0 30px;
		display: inline-block;
		vertical-align: top;
		box-sizing: border-box;
		width: 50%;

		&:before{
			content: counter(item);
			counter-increment: item;
			position: absolute;
			top:0;
			left: 0;
			color: @c-red;
			font-family: 'pf_beausans_prolight';
			font-size: 28px;
			line-height: 1.3;
		}
	}

	&__contact{
		font-size: 21px;
	}

	p{
		margin-bottom: 25px;
	}

	b{
		font-weight: 600;
	}
}