@import "../main/var";

.brand{
	box-shadow: 0 3px 8px rgba(0,0,0,0.15);
	margin-bottom: 50px;

	&__filter{
		float: right;
		padding-top: 10px;

		&-item{
			display: inline-block;

			&_active{
				.brand__filter-link{
					background: @c-red;
					color: @c-white;

					&:before{
						content: "";
						position: absolute;
						top: 100%;
						left: 50%;
						margin-left: -5px;
						border-top: 5px solid @c-red;
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
					}
				}
			}
		}

		&-link{
			text-decoration: none;
			text-transform: uppercase;
			display: block;
			line-height: 25px;
			padding: 0 10px;
			position: relative;
		}
	}

	&__link{
		display: block;
		text-decoration: none;
		margin-bottom: 40px;
		padding: 0 20px;
		color: @c-black;

		&:hover{
			box-shadow: 0 3px 8px rgba(0,0,0,0.15);

			.brand__image{
				border-color: @c-red;
			}

			.brand__title{
				color: @c-link;
			}
		}
	}

	&__image{
		display: block;
		height: 100px;
		position: relative;
		border-bottom: 2px solid @c-blue;
	}

	&__title{
		display: block;
		padding: 15px 0 5px;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 15px;
	}

	&__description{
		font-size: 13px;
		display: block;
		padding-bottom: 20px;
		margin: 0 -15px;
	}

	&__count{
		white-space: nowrap;
		color: @c-link;
		text-decoration: underline;
	}
}