@import "../main/var";

.brands{
	text-align: center;
	overflow: hidden;
	position: relative;
	padding-bottom: 40px;

	&:before{
		content: '';
		position: absolute;
		width: 50%;
		background: @c-white;
		height: 10px;
		bottom: 40px;
		left: 0;
		transform-origin: 100% 100%;
		transform: skew(5deg) rotate(5deg);
		z-index: 0;
		box-shadow: 0 5px 5px rgba(0,0,0,0.1);
	}

	&:after{
		content: '';
		position: absolute;
		width: 50%;
		background: @c-white;
		height: 10px;
		bottom: 40px;
		right: 0;
		transform-origin: 0 100%;
		transform: skew(-5deg) rotate(-5deg);
		z-index: 0;
		box-shadow: 0 5px 5px rgba(0,0,0,0.1);
	}

	&__item{
		display: inline-block;
		vertical-align: top;
		text-align: center;
		padding: 10px;
		width: 176px;
	}

	&__link{
		text-decoration: none;
		display: block;
		height: 100px;
		position: relative;
	}

	&__image{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		height: auto;
		width: auto;
		max-height: 100px;
		max-width: 170px;

		.brand &{
			max-width: 150px;
		}
	}

	&__all{
		padding: 20px 0 40px;
	}
}