@import "../main/var";

.menu{

	&__item{
		display: inline-block;
		position: relative;

		&_sub{
			> .menu__link:after{
				content:"";
				width: 0;
				height: 0;
				display: inline-block;
				margin: 3px 0 3px 5px;
				border-top: 4px solid @c-white;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
			}

			&:hover{
				.menu__sublist{
					display: block;
				}
			}
		}
	}

	a{
		color: @c-white;
		text-transform: uppercase;
		text-decoration: none;
	}

	&__link{
		display: block;
		line-height: 55px;
		padding: 5px 15px 0;
		font-family: 'pt_sans_caption';
	}

	&__sublist{
		display: none;
		position: absolute;
		padding-bottom: 5px;
		background: @c-blue;
		box-shadow: 0 2px 3px rgba(0,0,0,0.2);
		text-align: left;
		z-index: 100;

		.menu__item{
			display: block;
		}

		.menu__link{
			line-height: 2;

			&:hover{
				background: fade(@c-white, 50%);
			}
		}
	}
}