@import "../main/var";

.list{
	background: lighten(@c-grey, 39%);

	&__inner{
		padding: 15px 0 20px;
	}

	&__item{
		text-transform: uppercase;
		display: inline-block;
		width: 195px;
	}

	&__link{
		color: @c-black;
		text-decoration: none;
		display: block;
		padding: 10px;

		&:hover{
			text-decoration: underline;
		}
	}
}