@import "../main/var";

.filter{
	background: lighten(@c-grey, 39%);
	margin-top: 5px;

	&__row{
		border-top: 1px solid @c-white;
		border-bottom: 1px solid lighten(@c-grey, 10%);
		padding: 25px 20px 10px;

		&:first-child{
			border-top: none;
		}

		&:last-child{
			border-bottom: none;
		}

		&-title{
			color: lighten(@c-black, 30%);
			text-transform: uppercase;
			padding-bottom: 15px;
		}
	}

	&__title{
		font-size: 24px;
		line-height: 1;
	}

	&__tags{
		margin: 0 -10px;
	}

	&__check{
		display: inline-block;
		margin: 0 5px 15px 0;

		label{
			padding: 0 25px 0 10px;
			position: relative;
			line-height: 20px;
			display: block;
			border-radius: 10px;
		}

		.filter__input:checked + label{
			background: @c-blue;
			color: @c-white;

			&:before{
				content: "";
				position: absolute;
				right: 5px;
				top: 3px;
				bottom: 3px;
				width: 14px;
				height: 14px;
				background: url(../images/check.png) no-repeat;
			}
		}
	}

	&__input{
		display: none;
	}

	&__range{
		margin:10px 0 45px;
		position: relative;
	}

	&__value{
		position: absolute;
		top: 20px;
		width: 42px;
		border: 1px solid lighten(@c-grey, 25%);
		margin-left: -21px;
		padding: 0 3px;
		box-sizing: border-box;
		text-align: center;
		line-height: 16px;
		color: @c-grey;
	}

	&__slider{
		&.ui-widget-content{
			height: 8px;
			border:none;
			border-radius: 0;
			background: @c-white;
			box-shadow: 0 1px 4px rgba(0,0,0,0.25);
		}

		.ui-widget-header{
			background: @c-red;
		}

		&.ui-slider .ui-slider-handle{
			border: 3px solid @c-red;
			border-radius: 50%;
			width: 18px;
			height: 18px;
			background: @c-white;
			top: -9px;
			margin-left: -12px;
			outline: none;

			&.ui-state-hover{
				cursor:pointer;

				&:before{
					content: "";
					position: absolute;
					width: 10px;
					height: 10px;
					background: @c-red;
					border-radius: 50%;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
				}
			}
		}
	}

	&__placeholder{
		line-height: 30px;
		background: @c-blue;
		color: @c-white;
		box-sizing: border-box;
		padding: 0 20px 0 10px;
		cursor: pointer;

		&:before{
			content: "";
			position: absolute;
			top: 12px;
			right: 10px;
			border-top: 6px solid @c-white;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
		}
	}

	&__select{
		width: 200px;
		margin-bottom: 15px;
		position: relative;

		&-item{
			display: none;
			padding: 0 10px 15px;

			&_active{
				display: block;
			}
		}

		&-link{
			text-decoration: none;
			display: inline-block;
			padding-right: 20px;
			position: relative;
			font-weight: 600;
			color: @c-black;

			&:before{
				content: "";
				position: absolute;
				right: 0;
				top: 7px;
				width: 10px;
				height: 10px;
				background: url(../images/close-brand.png) no-repeat;
			}
		}
	}

	&__list{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		display: none;
		line-height: 30px;
		background: @c-blue;
		color: @c-white;
		z-index: 1;
	}

	&__item{
		display: block;
		border-top: 1px solid @c-white;

		&_active{
			background: fadeOut(@c-white, 80%);
		}

		label{
			display: block;
			cursor: pointer;
			padding: 0 20px 0 10px;
		}

		&:first-child{
			border-top: none;
		}
	}

	&__checkbox{
		margin-bottom: 15px;

		label{
			padding-left: 20px;
			position: relative;
			line-height: 20px;
			cursor: pointer;

			&:before{
				content: "";
				position: absolute;
				left: 0;
				top: 4px;
				width: 8px;
				height: 8px;
				background: lighten(@c-grey, 36%);
				border: 1px solid @c-grey;
			}
		}

		.filter__input:checked + label{
			font-weight: 600;

			&:before{
				background: lighten(@c-red, 20%);
				border-color: @c-red;
			}
		}
	}

	&__all{
		color: @c-black;
		border-bottom: 1px dotted @c-black;
		text-decoration: none;
		line-height: 1;
		display: inline-block;
	}

	&__result{
		float:right;
		text-align: right;
		color: @c-grey;
		margin-top: 20px;
	}

	&__button{
		border: none;
		background: @c-red;
		color: @c-white;
		margin: 15px 0;
		text-transform: uppercase;
		cursor: pointer;
		font: 15px/32px 'pt_sans', Arial, sans-serif;
		font-weight: 600;
		padding: 0 10px;
		height: 32px;
		position: relative;

		&:before{
			content: "";
			width: 44px;
			height: 44px;
			display: block;
			border-radius: 50%;
			background: @c-red;
			position: absolute;
			z-index: 0;
			top: -6px;
			left: 50%;
			margin-left: -22px;
		}

		span{
			position: relative;
			z-index: 1;
		}
	}
}