@import "../main/var";

.select{
	width: 100%;

	.customSelectArrow{
		font-size: 13px;
	}

	.customSelectBack{
		line-height: 38px;
		box-sizing: border-box;
		padding: 0 30px 0 10px;
		border-radius: 0;
		position: relative;
		box-shadow: none;
		font-weight: 600;
		white-space: nowrap;
		border: 1px solid fadeout(lighten(@c-blue, 10%), 70%);

		&:before{
			content: "";
			position: absolute;
			top: 16px;
			right: 10px;
			border-top: 6px solid @c-grey;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
		}
	}

	.customSelectOptions{
		border-radius: 0;
		background: @c-white;
		top: 0; 
		left: 0;
		right: 0;
		width: auto !important;
		margin: 0;
		border: 1px solid fadeout(lighten(@c-blue, 10%), 70%);
	}

	.customSelectOption{
		line-height: 38px;
		padding: 0 20px 0 10px;
		font-size: 13px;
		white-space: nowrap;
		font-weight: 600;
	}
}