@import "../main/var";

.header{
	background: @c-blue;
	position: relative;

	&__logo{
		float: left;
		width: 125px;

		&-link{
			height: 60px;
			position: relative;
			display: block;
			text-decoration: none;

			img{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto auto auto 0;
				display: block;
			}
		}
	}

	&__info{
		float: right;
		width: 275px;
		color: @c-white;
		display: table;
	}

	&__cell{
		display: table-cell;
		height: 60px;
		vertical-align: middle;
		white-space: nowrap;
		line-height: 1.2;
		box-sizing: border-box;
	}

	&__phone{
		padding:5px 40px 0 0;
		font-family: 'glober';
		font-weight: 600;
		font-size: 21px;

		&-index{
			font-weight: normal;
		}
	}

	&__work{
		font-size: 12px;

		b{
			font-size: 15px;
			display: block;
			font-weight: 600;
		}
	}

	&__menu{
		text-align: center;
		padding: 0 325px 0 150px;
	}
}