@import "../main/var";

.product{
	margin: 5px;
	width: 235px;
	text-align: center;
	background: @c-white;

	&__link{
		display: block;
		text-decoration: none;
		color: @c-black;
		padding: 5px;
	}

	&__image{
		position: relative;
		display: block;
		height: 260px;
	}

	&__img{
		height: auto;
		width: auto;
		max-height: 260px;
		max-width: 220px;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
	}

	&__title{
		text-transform: uppercase;
		font-weight: 600;
		font-size: 15px;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: @c-grey;
	}

	&__brand{
		color: @c-black;
		margin-right: 5px;
	}

	&__basket{
		white-space: nowrap;
		padding-bottom: 15px;
	}

	&__price{
		font-size: 21px;
		color: @c-red;
		margin-top: 5px;
		vertical-align: top;
	}

	&__add{
		background: @c-red;
		vertical-align: top;
		color: @c-white;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 600;
		display: inline-block;
		font-size: 15px;
		position: relative;
		padding: 0 20px;
		line-height: 30px;
		display: none;
		margin-bottom: -5px;

		&:before{
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 0;
			height: 0;
			border-left: 5px solid @c-white;
			border-top: 15px solid transparent;
			border-bottom: 15px solid transparent;
		}

		&:after{
			content: "";
			position: absolute;
			right: 0;
			top: 1px;
			bottom: 1px;
			width: 3px;
			background: url(../images/product.png) repeat-y right center;
		}
	}

	&:hover{
		box-shadow: 0 2px 12px rgba(0, 120, 255, 0.25);

		.product__add{
			display: inline-block;
		}

		.product__title{
			color: @c-black;
		}
	}

	&_type_shadow{
		box-shadow: 0 1px 4px rgba(0,0,0,0.25);
		margin-bottom: 40px;
	}
}