@import "../main/var";

.product-small{
	margin: 5px;
	width: 235px;

	&__link{
		display: block;
		text-decoration: none;
		color: @c-black;
		padding: 5px;
		background: @c-white;
		box-shadow: 0 1px 4px rgba(0,0,0,0.25);
		z-index: 1;
		position: relative;
	}

	&__image{
		position: relative;
		display: inline-block;
		width: 80px;
		height: 90px;
		vertical-align: top;
	}

	&__img{
		height: auto;
		width: auto;
		max-height: 90px;
		max-width: 80px;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
	}

	&__content{
		display: inline-block;
		vertical-align: top;
		width: 130px;
		padding: 25px 0 20px 15px;
	}

	&__title{
		text-transform: uppercase;
		display: block;
		font-size: 13px;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: @c-grey;
		overflow: hidden;
	}

	&__brand{
		color: @c-black;
		margin-right: 5px;
	}

	&__price{
		font-size: 18px;
		color: @c-red;
		margin-top: 5px;
		vertical-align: top;
	}

	&__basket{
		background: @c-red;
		vertical-align: top;
		color: @c-white;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 600;
		display: block;
		font-size: 15px;
		position: relative;
		z-index: 0;
		text-align: center;
		padding: 0 20px;
		line-height: 30px;
		display: none;
		margin: 0 10px;

		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			height: 2px;
			left: 2px;
			right: 2px;
			background: url(../images/product-small.png) repeat-x center bottom;
		}
	}

	&:hover{

		.product-small__title,
		.product-small__brand{
			color: @c-link;
		}

		.product-small__basket{
			display: block;
		}
	}
}