@import "../main/var";

.delivery{
	&__item{
		padding: 0 0 5px 80px;
		margin-top: 20px;

		&_delivery{
			background: url(../images/delivery.png) no-repeat left center;
		}

		&_pickup{
			background: url(../images/pickup.png) no-repeat left center;
		}

		&_payment{
			background: url(../images/payment.png) no-repeat left center;
		}
	}

	&__subtitle{
		font-weight: 600;
		font-size: 15px;
		color: @c-red;
	}

	&__text{
		line-height: 17px;

		b{
			font-weight: 600;
		}
	}

	&_type_line{
		padding: 15px 0;
		box-shadow: 0 3px 8px rgba(0,0,0,0.15);
		position: relative;
		z-index: 1;

		.delivery__title{
			margin-bottom: 15px;
		}

		.delivery__item{
			display: inline-block;
			vertical-align: top;
			width: 245px;
			margin: 0;
		}
	}

	.card__delivery &{
		margin-bottom: 30px;
		
		.delivery__item{
			padding: 40px 0 5px;
			background-position: top left;

			&_pickup{
				padding-top: 50px;
			}
		}

		.delivery__title{
			display: none;
		}
	}
}